[data-class~="task/prereq"]:before,
[data-class~="task/postreq"]:before,
[data-class~="task/steps"]:before,
[data-class~="topic/related-links"]:before,
[data-class~="taskreq-d/reqconds"]:before,
[data-class~="taskreq-d/reqpers"]:before,
[data-outputclass~="section-reqpers"]:before,
[data-class~="taskreq-d/supequip"]:before,
[data-class~="taskreq-d/supplies"]:before,
[data-class~="taskreq-d/spares"]:before,
[data-class~="taskreq-d/safety"]:before,
[data-class~="taskreq-d/reqconds"]:before {
    display: block;
    font-size: 1.2rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

ol[data-class~="task/ol"]:before,
ul[data-class~="task/ul"]:before,
[data-class~="task/steps"]:before {
    margin-left: -26.4px;
}

[data-outputclass~="section-frequency"]:before,
[data-outputclass~="section-category"]:before,
[data-class~="topic/related-links"]:before,
[data-class~="task/prereq"]:before,
[data-class~="task/postreq"]:before,
[data-class~="task/steps"]:before {
    font-weight: bold;
    font-style: italic;
    margin-top: 2em;
    font-size: 1.4rem;
}

[data-class~="topic/note"] {
    padding-left: 26px;
}

.relinfo>strong,
[data-class~="task/task"] br {
    display: none;
}

[data-class~="task/steps"] .notetitle,
[data-class~="task/steps"] .warningtitle,
[data-class~="task/steps"] .cautiontitle,
[data-class~="task/steps"] .dangertitle,
[data-class~="task/steps"] .notestitle,
[data-class~="task/steps"] .tiptitle,
[data-class~="task/steps"] .fastpathtitle,
[data-class~="task/steps"] .importanttitle,
[data-class~="task/steps"] .attentiontitle,
[data-class~="task/steps"] .remembertitle,
[data-class~="task/steps"] .restrictiontitle,
[data-class~="task/steps"] .noticetitle,
[data-class~="task/steps"] .troubletitle {
    margin-top: 1em;
}

.notetitle,
.warningtitle,
.cautiontitle,
.dangertitle,
.notestitle,
.tiptitle,
.fastpathtitle,
.importanttitle,
.attentiontitle,
.remembertitle,
.restrictiontitle,
.noticetitle,
.troubletitle {
    display: inline-block;
    margin-left: -26px;
}

[data-class~="taskreq-d/nosafety"],
[data-class~="taskreq-d/noconds"] {
    display: block;
    margin-left: -26.4px;
}

.alert-message-body * {
    margin-left: 0;
    padding-left: 0;
}

[data-class~="taskreq-d/reqpers"]>*,
[data-outputclass~="section-reqpers"]>* {
    display: inline;
}

[data-class~="taskreq-d/reqpers"]>*:before,
[data-outputclass~="section-reqpers"]>*:before {
    content: ', ';
}

[data-class~="taskreq-d/reqpers"]>[data-class~="taskreq-d/personnel"]:before,
[data-outputclass~="section-reqpers"]>[data-outputclass~="reqpers-personnel"]:before {
    content: ' ';
    display: block;
    font-size: 1pt;
}

[data-outputclass~="section-reqpers"] {
    padding-left: 0;
}

div[data-class~="task/steps"]:before {
    margin-left: 0;
}