.instructions {
    flex-direction: column;
}

.instructions-section {
    flex: 0 0 auto;
}

.instructions-section .skin-tree-item .content {
    margin: .2em 0;
}

.instructions-section h3 {
    background-color: lightslategray;
    padding: .5em;
    margin: .5em 0;
}
